.banner-container-main,
.slider-container-main, 
.model-container-main, 
.location-container-main,
.news-container-main,
.footer-container-main
{
    width: 100%;
    max-width: unset;
    box-sizing: border-box;
    height: auto;
  }

